bridge
maps
node_modules/*
!node_modules/@types/
node_modules/@types/node
client_packages/dlcpacks
client_packages/game_resources
plugins
bt.dat
conf.json
node.dll
package-lock.json
server.exe
ragemp-server.exe
BugTrap-x64.dll
server
bin
dotnet
.listcache
.VSCodeCounter
.idea
.CodeCounter